* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  background-color: lightgray;
}

div div {
  margin-left: 10px;
  background-color: red;
}

div div div {
  margin-left :20px;
 background-color: blue;
}
