* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.holder {
  width: 60%;
  margin: 10px auto;
  border: solid 1px gray;
  text-align: center;
  background-color: red;
}

img {
  width: 33%;
  padding: 10px;
}

img:first-child {
  opacity: 0.4;
}

img:nth-child(2) {
  opacity: 0.6;
}

img:last-child {
  opacity: 0.8;
}

img:hover {
  opacity: 1;
}
