* {
  margin: 0;
  padding: 0;
}

nav {
  width: 600px;
  height: 400px;
  margin: 10px auto;
  border: solid 1px gray;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  height: 100%;
  border: solid 1px gray;
  background-color: #f1f1f1;
}

nav ul li {
  background-color: #f1f1f1;
  border-bottom: solid 1px gray;
  line-height: 25px;
  overflow: auto;
}

nav ul li a {
  display: block;
  height: 100%;
  padding-left: 10px;
  text-decoration: none;
  color: black;
  font-family: "Arial"
}

nav ul li.active-menu a {
  background-color: #d61944;
  color: white;
}

nav ul li a:hover {
  background-color: #ff436e;
  color: white;
}
