* {
  margin: 0;
  padding: 0;
}

.holder {
  border: solid 1px gray;
  width: 500px;
  height: 300px;
  margin: auto;
  margin-top: 20px;
  text-align: justify;
  padding: 10px;
  overflow: auto;
  position: static;
}

p::first-letter {
  color: blue;
  font-size: 30pt;
}

p::selection {
  color:yellow;
  background-color: purple;
}

p::first-line {
  color: red;
}

p {
  color: green;
}
